/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    margin-top: 0.85%;
}

h1 {
    font-family: 'Caveat', cursive;
    font-size: 8em;
    color: white;
    text-shadow: 2px 2px 4px black;
}

/* MAIN */

.index_main {
    margin: 2% 0;
}

/* Carrés jaunes et barre de recherche des hastags*/
.index_main section:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.index_main input{
    height: 5vh;
    width: 80%;  
}

/* Carrés rouges et verts + bouton vers d'autres pages du site*/

.index_main section:last-child {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#doubleCarres{
    margin-top: 2%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

i {
    margin-bottom: 0.5em;
    font-size: 4em;
}

.container a {
    font-size: 2.5em;
}

#doubleCarres div:last-child {
    margin: 40% 0;
}

/* RESPONSIVE */
@media screen and (min-width: 600px) and (max-width: 1024px) {
    
    /* HEADER */
    header {
        margin-top: 6%;
    }
    
    h1 {
        font-size: 5em;
        color: white;
        text-shadow: 2px 2px 4px black;
    }

    /* MAIN */
    
    
}